@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply container mx-auto px-5 lg:px-0;
}

.swiper-button-next,
.swiper-button-prev {
  color: #575657 !important;
  stroke: #575657 !important;
  fill: #575657 !important;
}

.swiper-pagination-bullet {
  background-color: #575657 !important;
}

.swiper-pagination-bullet-active {
  background-color: #575657 !important;
}
